
@font-face {
    font-family: "silk serif reg";
    src: url(./fonts/silkserif-regularitalic-webfont.ttf);
}

@font-face {
    font-family: "silk serif light";
    src: url(./fonts/silkserif-lightitalic-webfont.ttf);
}

@font-face {
    font-family: "plain light";
    src: url(./fonts/plain-light-webfont.ttf);
}

@font-face {
    font-family: "plain reg";
    src: url(./fonts/plain-regular-webfont.ttf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "plain light";
}

html,
body {
    height: 100%;
    width: 100%;
    color: white;
}

/* body {
    cursor: none;
} */

.main {
    background-color: #151515;
    position: relative;
    overflow: hidden;
}

.mousefollower {
    height: 37px;
    width: 37px;
    border: 1px solid rgba(255, 255, 255, 0.425);
    mix-blend-mode: difference;
    background-color: rgb(255, 255, 255);
}


.loading-screen {
    background-color: #0B0B0B;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    padding: 20vh 9vw;
}

.line1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 1vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    overflow: hidden;
}

.line1 h4 {
    font-family: "silk serif light";
    font-size: 4vw;
    font-style: italic;
    font-weight: 100;
}

.line1 h4:nth-child(2) {
    margin-right: 1vw;
}

.line-part1 h4:nth-child(1) {
    text-align: right;
    width: 5vw;
}

.line1 h1 {
    line-height: 1.1;
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 900;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2vw;
}

.line-part1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2vw;
}

.line1 span {
    font-size: 6vw;
    text-transform: uppercase;
    -webkit-animation-name: anime1;
            animation-name: anime1;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

}

@-webkit-keyframes anime1 {
    0% {
        font-family: "plain light";
        font-weight: 900;
        -webkit-text-stroke: 1px white;
        opacity: 0;
    }

    48% {
        font-family: "plain light";
        font-style: normal;
        -webkit-text-stroke: 1px white;
        color: white;
        opacity: 1;
        font-weight: 900;


    }

    50% {
        font-family: "silk serif light";
        font-style: italic;
        -webkit-text-stroke: 1px white;
        color: transparent;
        opacity: 0;
        font-weight: 100;

    }

    100% {
        font-family: "silk serif light";
        font-style: italic;
        -webkit-text-stroke: 1px white;
        color: transparent;
        opacity: 1;
        font-weight: 100;

    }
}

@keyframes anime1 {
    0% {
        font-family: "plain light";
        font-weight: 900;
        -webkit-text-stroke: 1px white;
        opacity: 0;
    }

    48% {
        font-family: "plain light";
        font-style: normal;
        -webkit-text-stroke: 1px white;
        color: white;
        opacity: 1;
        font-weight: 900;


    }

    50% {
        font-family: "silk serif light";
        font-style: italic;
        -webkit-text-stroke: 1px white;
        color: transparent;
        opacity: 0;
        font-weight: 100;

    }

    100% {
        font-family: "silk serif light";
        font-style: italic;
        -webkit-text-stroke: 1px white;
        color: transparent;
        opacity: 1;
        font-weight: 100;

    }
}

.page1 {
    background-color: #151515;
    height: 100vh;
    width: 100%;
    position: relative;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1vw 7vw;
}

.nav-part1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 28%;
}

.nav-part2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 20%;
}


.nav-part2 i {
    display: none;
}

nav .nav-part2 h5 {
    font-size: 1.1vw;
    font-weight: 500;
}

.nav-h5 {
    margin-top: 1vw;
}

.nav-h5 h5 {
    font-size: 1.1vw;
    font-weight: 500;
}

/* .page1-main{ */
/* background-color: red; */
/* } */

.page1-main h1 {
    font-family: "plain reg";
    margin-left: 27%;
    font-weight: 900;
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 2px;
}

.page1-main .page1-h1 h1:nth-child(2) {
    margin: 0;
}


#graphic {
    margin: 0;
    position: relative;
    z-index: 999;
    line-height: 1.1;
}

#graphic::after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    height: 7px;
    width: 100%;
    background-color: white;
}

#web {
    margin: 0;
    position: relative;
    line-height: 1.1;
    z-index: 99;
}

#web::after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    height: 7px;
    width: 100%;
    background-color: white;
}

#web:hover {
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 100;
}

#web:hover::after {
    display: none;
}

#graphic:hover::after {
    display: none;
}


#graphic:hover {
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 100;
    border: none;
}

.page1-main .page1-h1:nth-child(1) {
    margin-top: 5vw;
    position: relative;
}

.page1-main .page1-h1:nth-child(1)::before {
    content: "01";
    position: absolute;
    left: 20%;
    font-size: 3.5vw;
    font-family: "silk serif light";
    font-style: italic;
}

.page1-h1 {
    overflow: hidden;
}

.page1-h1 h1 {
    position: relative;
    z-index: 99;
    font-weight: 400;
}

.special-h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    overflow: hidden;
    margin-left: 27%;
    overflow: hidden;
}

.page2 {
    height: 80vh;
    width: 100%;
    position: relative;
}

.page2-video {
    position: relative;
    left: 30%;
    height: 70vh;
    width: 70vw;
    background-image: url(./Imgs/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
}

.page2-video video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    opacity: 0;
}

.page2-video img {
    position: absolute;
    top: -1%;
    height: 105%;
    width: 105%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.page2-video-cursor {
    height: 10.5vw;
    width: 10.5vw;
    background-color: #FFA63D;
    position: absolute;
    top: -15%;
    left: 68%;
    border-radius: 50%;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.page2-video-cursor i {
    font-size: 3vw;
}

.page3 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    margin-bottom: 10vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 10% 50%;
    grid-template-rows: 10% 50%;
}

.page3 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.page3 > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.page3-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.page3-main2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.page3 .image-container {
    min-height: 100vh;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 2vw;
}

.image-container .content {
    height: 70vh;
    width: 25vw;
}

.img-div {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.img-div img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
}

.content>h1 {
    margin-bottom: 2vw;
    font-size: 2.5vw;
    text-transform: uppercase;
}

#img1 {
    height: 60vh;
    width: 25vw;
    position: relative;
}

.text {
    border-bottom: 1px solid white;
    padding-bottom: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2vw;
}

.date h4 {
    font-weight: 100;
}

#img1 .text .h4s h4 {
    font-weight: 100;
    font-size: 1vw;
}

#img2 .text {
    border-bottom: 1px solid white;
    padding-bottom: 2vw;
}

#img2 .text .h4s h4 {
    font-weight: 100;
    font-size: 1vw;
}

#img2 {
    height: 73vh;
    width: 30vw;
}


#img3 .text .h4s h4 {
    font-weight: 100;
    font-size: 1vw;
}

#img4 .text {
    border-bottom: 1px solid white;
    padding-bottom: 2vw;
}

#img4 .text .h4s h4 {
    font-weight: 100;
    font-size: 1vw;
}

#img4 {
    height: 75vh;
    width: 30vw;
}

#img4 img {
    -o-object-position: top;
       object-position: top;
    height: 80vh;
    width: 30vw;
}

._canvas_container {
    z-index: 999999 !important;
    pointer-events: none;
}

.page3>h1 {
    font-size: 7vw;
    text-transform: uppercase;
    margin-left: 29%;
    position: relative;
}

.page3>h1::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    height: 1px;
    width: 93%;
    background-color: white;
}

.page3>h1::after {
    content: "02";
    position: absolute;
    left: -13.5%;
    font-size: 3.5vw;
    font-family: "silk serif light";
    font-style: italic;
    font-weight: 100;
}

.page3-circle1 {
    height: 300px;
    width: 300px;
    border: 2px solid gray;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    overflow: hidden;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.page3-circle1 svg {
    width: 25%;
}

.circle-in {
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2vw;
    text-align: center;
    scale: 0;
    border-radius: 50%;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.circle-in p {
    font-weight: 900;
}

.page3-circle2 svg {
    width: 25%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.page3-circle2 {
    height: 300px;
    width: 300px;
    border: 2px solid gray;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    overflow: hidden;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.page3-circle2:hover .circle-in {
    scale: 1;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.page3-circle1:hover .circle-in {
    scale: 1;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.page4 {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.page4 h1 {
    font-size: 7.3vw;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.page4-main>h1::before {
    content: "03";
    position: absolute;
    left: 20%;
    top: 5%;
    font-size: 3.5vw;
    font-family: "silk serif light";
    font-style: italic;
    font-weight: 100;
}

.underline1 {
    height: 1px;
    width: 69.3%;
    background-color: white;
    margin-left: 27%;
    margin-top: 1.9vw;
}

.page4-main>p {
    font-size: 2.3vw;
    width: 36%;
    margin-left: 28%;
    margin-top: 5vw;
}

.page4-img {
    position: relative;
    left: 28%;
    height: 80vh;
    width: 55vw;
    margin-top: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.page4-img>p {
    margin-left: 2.5vw;
    font-size: 1.1vw;
    font-family: "plain light";
    font-weight: 100;
    line-height: 1.6;
}

.page4-img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.page4-blue {
    height: 90vh;
    width: 45vw;
    background-color: #3F7DF4;
    position: relative;
    left: 50%;
    margin-top: -8%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    color: white;
    padding: 5vw;
}

.page4-blue > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.page4-blue > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.page4-blue > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.page4-blue > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
}

.page4-blue > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

.blue-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid white;
}

.blue-elem h2 {
    text-align: left;
    font-family: "plain light";
    font-weight: 400;
}

.blue-elem>h5 {
    width: 50%;
    text-align: left;
    font-family: "plain light";
    font-weight: 400;
    font-size: 1vw;
}

.underline2 {
    margin-top: 10%;
    position: relative;
    left: 28%;
    height: 1px;
    width: 65%;
    background-color: white;
}

.underline2 h5 {
    font-size: 1vw;
    font-weight: 100;
    padding-top: 2vw;
}

.page5 {
    margin-top: 10vw;
    height: 100vh;
    width: 100%;
    position: relative;
}

.marq {
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: -3vw;
}

.marq2 {
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: -3vw;
}

.marq h1 {
    font-size: 8vw;
    font-weight: 100;
    text-transform: uppercase;
    display: inline-block;
    -webkit-text-stroke: 1px white;
    color: transparent;
    margin-right: 20px;
    -webkit-animation-name: anime2;
            animation-name: anime2;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.marq2 h1 {
    font-size: 8vw;
    font-weight: 100;
    text-transform: uppercase;
    display: inline-block;
    -webkit-text-stroke: 1px white;
    color: transparent;
    margin-right: 20px;
    -webkit-animation-name: anime2;
            animation-name: anime2;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-direction: reverse;
}


.marq h1 span {
    font-family: "silk serif";
}

.marq2 h1 span {
    font-family: "silk serif";
}

@-webkit-keyframes anime2 {
    0% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(calc(-100% - 24px));
                transform: translateX(calc(-100% - 24px));
    }
}

@keyframes anime2 {
    0% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(calc(-100% - 24px));
                transform: translateX(calc(-100% - 24px));
    }
}

footer {
    height: 100vh;
    width: 100%;
    position: relative;
    padding-left: 28%;
}

footer>.underline2 {
    margin-top: 2vw;
    left: 0;
    width: 90%;
}

footer .footer-div {
    margin-top: 3vw;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.box h4 {
    font-family: "plain reg";
    font-weight: 500;
    font-size: 1.3vw;
}

.box h3:nth-child(2) {
    margin-top: 2vw;
}

.box h3 {
    font-weight: 300;
    font-size: 2vw;
}

footer>.underline2 h5 {
    font-size: 1.3vw;
}

#flag {
    height: 55vh;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
}

#textillate {
    line-height: 10vw;
    text-transform: uppercase;
    font-size: 7vw;
    position: relative;
    width: 70%;
}

.textanime svg {
    font-family: "plain reg";
    font-weight: 900;
    width: 12%;
}

.textanime {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 97%;
}

.textanime>h1::before {
    content: "04";
    position: absolute;
    left: -20%;
    top: -10%;
    font-family: "silk serif";
    font-weight: 100;
    font-size: 3.5vw;
}

@media (max-width:600px) {

    .page1 {
        height: 50vh;
        width: 100%;
        padding-top: 0.1px;
    }

    nav {
        padding: 3vw 7vw;
        position: fixed;
        width: 100%;
        top: 0;
    }

    .nav-part1 {
        width: 50%;
    }

    .nav-part1 svg {
        scale: 1.3;
    }

    .nav-part2 {
        width: 10%;
    }

    .nav-part2 i {
        display: block;
        font-size: 7vw;
    }

    nav .nav-part2 h5 {
        display: none;
    }

    .nav-h5 h5 {
        display: none;
    }

    .page1-main h1 {
        font-family: "plain reg";
        margin-left: 0%;
        font-weight: 900;
        font-size: 7.5vw;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 2px;
    }

    .page1-main {
        margin-top: 45%;
        margin-left: 5%;
        position: relative;
    }

    .page1-main .page1-h1 h1:nth-child(2) {
        margin-top: 0;
    }

    #graphic {
        margin: 0;
        position: relative;
        z-index: 99;
        line-height: 1.1;
    }

    #graphic::after {
        content: "";
        position: absolute;
        bottom: 0%;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: white;
    }

    #web {
        margin: 0;
        position: relative;
        line-height: 1.1;
        z-index: 99;
    }

    #web::after {
        content: "";
        position: absolute;
        bottom: 0%;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: white;
    }

    #web:hover {
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 100;
    }

    #web:hover::after {
        display: none;
    }

    #graphic:hover::after {
        display: none;
    }

    #graphic:hover {
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 100;
        border: none;
    }

    .page1-main .page1-h1:nth-child(1) {
        margin-top: 5vw;
        position: relative;
    }

    .page1-main::before {
        content: "01";
        position: absolute;
        left: 0%;
        top: -20%;
        font-size: 5.5vw;
        font-family: "silk serif light";
        font-style: italic;
    }

    .page1-h1 {
        overflow: hidden;
    }

    .page1-h1 h1 {
        z-index: 99;
        font-weight: 600;
        font-size: 10vw;
    }

    .special-h1 {
        margin-left: 0%;
    }

    .page1-main .page1-h1:nth-child(1)::before {
        content: "";
    }

    .page2 {
        height: 55vh;
        width: 100%;
        position: relative;
    }

    .page2-video {
        position: relative;
        left: 0%;
        height: 50vh;
        width: 100%;
        background-image: url(./Imgs/Showreel-2022-preview-1.jpg);
    }

    .page2-video img {
        position: absolute;
        top: 0%;
        height: 105%;
        width: 105%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
    }

    .page2-video-cursor {
        height: 20.5vw;
        width: 20.5vw;
        background-color: #FFA63D;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 99;
    }

    .page2-video-cursor i {
        font-size: 6vw;
    }

    .page3 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        margin-bottom: 80vw;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        -ms-grid-rows: 5% 50%;
        grid-template-rows: 5% 50%;
    }

    .page3 > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .page3 > *:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .page3>h1 {
        font-size: 10vw;
        text-transform: uppercase;
        margin-left: 20%;
        position: relative;
    }

    .page3>h1::before {
        content: "";
        position: absolute;
        bottom: 40%;
        left: 0;
        height: 1px;
        width: 93%;
        background-color: white;
    }

    .page3>h1::after {
        content: "02";
        position: absolute;
        left: -13.5%;
        font-size: 5.5vw;
        font-family: "silk serif light";
        font-style: italic;
        font-weight: 100;
    }


    .page3-main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .page3-main2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .page3 .image-container {
        min-height: 100vh;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        gap: 15vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0;
    }

    .image-container .content {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .img-div {
        position: relative;
        overflow: hidden;
        width: 100vw;
    }

    .img-div img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: top;
           object-position: top;
    }

    .content>h1 {
        margin-bottom: 2vw;
        font-size: 7.5vw;
    }

    #img1 {
        height: 70vh;
        width: 100%;
        position: relative;
    }

    .text {
        border-bottom: 1px solid white;
        padding-bottom: 2vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 2vw;
        display: none;
    }

    .date h4 {
        font-weight: 100;
    }

    #img1 .text .h4s h4 {
        font-weight: 100;
        font-size: 1vw;
    }

    #img2 .text {
        border-bottom: 1px solid white;
        padding-bottom: 2vw;
    }

    #img2 .text .h4s h4 {
        font-weight: 100;
        font-size: 1vw;
    }

    #img2 {
        height: 73vh;
        width: 100%;
    }


    #img3 .text .h4s h4 {
        font-weight: 100;
        font-size: 1vw;
    }

    #img3 {
        height: 90vh;
        width: 100%;
    }

    #img4 .text {
        border-bottom: 1px solid white;
        padding-bottom: 2vw;
    }

    #img4 .text .h4s h4 {
        font-weight: 100;
        font-size: 1vw;
    }

    #img4 {
        height: 80vh;
        width: 100%;
    }

    #img4 img {
        -o-object-position: top;
           object-position: top;
        height: 100%;
        width: 100%;
    }

    ._canvas_container {
        z-index: 999999 !important;
        pointer-events: none;
    }

    .page3-circle1 {
        height: 300px;
        width: 300px;
        border: 2px solid gray;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        overflow: hidden;
        -webkit-transition: all ease-in-out 0.5s;
        -o-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s;
        display: none;
    }

    .page3-circle1 svg {
        width: 25%;
    }

    .circle-in {
        background-color: white;
        height: 100%;
        width: 100%;
        position: absolute;
        color: black;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 2vw;
        text-align: center;
        scale: 0;
        border-radius: 50%;
        -webkit-transition: all ease-in-out 0.5s;
        -o-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s;
        display: none;
    }

    .circle-in p {
        font-weight: 900;
    }

    .page3-circle2 svg {
        width: 25%;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }

    .page3-circle2 {
        height: 300px;
        width: 300px;
        border: 2px solid gray;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        overflow: hidden;
        -webkit-transition: all ease-in-out 0.5s;
        -o-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s;
        display: none;
    }

    .page3-circle2:hover .circle-in {
        scale: 1;
        -webkit-transition: all ease-in-out 0.5s;
        -o-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s;
    }

    .page3-circle1:hover .circle-in {
        scale: 1;
        -webkit-transition: all ease-in-out 0.5s;
        -o-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s;
    }

    .page4 {
        min-height: 100vh;
        width: 100%;
        position: relative;
    }

    .page4 h1 {
        font-size: 10.3vw;
        text-transform: uppercase;
        text-align: left;
        position: relative;
        left: 5%;
    }

    .page4-main>h1::before {
        content: "03";
        position: absolute;
        left: 0%;
        top: -60%;
        font-size: 5.5vw;
        font-family: "silk serif light";
        font-style: italic;
        font-weight: 100;
    }

    .underline1 {
        height: 1px;
        width: 90.3%;
        background-color: white;
        margin-left: 5%;
        margin-top: 5vw;
    }

    .page4-main>p {
        font-size: 4vw;
        width: 70%;
        margin-left: 5%;
        margin-top: 5vw;
        margin-bottom: 15%;
    }

    .page4-img {
        position: relative;
        left: 0%;
        height: 80vh;
        width: 100%;
        margin-top: 14vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }

    .page4-img>p {
        margin-left: 5%;
        margin-bottom: 5%;
        font-size: 2.8vw;
        font-family: "plain light";
        font-weight: 100;
        line-height: 1.5;
        width: 60%;
    }

    .page4-img img {
        height: 100%;
        width: 95%;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
    }

    .page4-blue {
        height: 40vh;
        width: 95%;
        background-color: #3F7DF4;
        position: relative;
        left: 2.5%;
        margin-top: 5%;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        -ms-grid-rows: 20% 20% 20% 20% 20%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        color: white;
        padding: 5vw;
    }

    .page4-blue > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .page4-blue > *:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .page4-blue > *:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .page4-blue > *:nth-child(4) {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }

    .page4-blue > *:nth-child(5) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .blue-elem {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-bottom: 1px solid white;
    }

    .blue-elem h2 {
        text-align: left;
        font-family: "plain light";
        font-weight: 400;
        font-size: 4vw;
    }

    .blue-elem>h5 {
        width: 50%;
        text-align: left;
        font-family: "plain light";
        font-weight: 100;
        font-size: 2vw;
    }

    .underline2 {
        margin-top: 10%;
        position: relative;
        left: 5%;
        height: 1px;
        width: 90%;
        background-color: white;
    }

    .underline2 h5 {
        font-size: 3vw;
        font-weight: 100;
        padding-top: 2vw;
    }

    .page5 {
        margin-top: 10vw;
        height: 50vh;
        width: 100%;
        position: relative;
    }

    .marq {
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: -3vw;
    }

    .marq2 {
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: -3vw;
    }

    .marq h1 {
        font-size: 15vw;
        font-weight: 100;
        text-transform: uppercase;
        display: inline-block;
        -webkit-text-stroke: 1px white;
        color: transparent;
        margin-right: 20px;
        -webkit-animation-name: anime2;
                animation-name: anime2;
        -webkit-animation-duration: 25s;
                animation-duration: 25s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }

    .marq2 h1 {
        font-size: 15vw;
        font-weight: 100;
        text-transform: uppercase;
        display: inline-block;
        -webkit-text-stroke: 1px white;
        color: transparent;
        margin-right: 20px;
        -webkit-animation-name: anime2;
                animation-name: anime2;
        -webkit-animation-duration: 25s;
                animation-duration: 25s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        animation-direction: reverse;
    }


    .marq h1 span {
        font-family: "silk serif";
    }

    .marq2 h1 span {
        font-family: "silk serif";
    }


    footer {
        height: 30vh;
        width: 100%;
        position: relative;
        padding-left: 5%;
        margin-top: 10vw;
    }

    footer>.underline2 {
        margin-top: 2vw;
        left: 0;
        width: 90%;
    }

    footer .footer-div {
        margin-top: 3vw;
        width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .box h4 {
        font-family: "plain reg";
        font-weight: 500;
        font-size: 4vw;
    }

    .box h3:nth-child(2) {
        margin-top: 2vw;
    }

    .box h3 {
        font-weight: 300;
        font-size: 3vw;
    }

    footer>.underline2 h5 {
        font-size: 3.3vw;
    }

    #flag {
        height: 55vh;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        opacity: 0;
    }

    #textillate {
        line-height: 10vw;
        text-transform: uppercase;
        font-size: 10vw;
        position: relative;
        width: 70%;
    }

    .textanime svg {
        font-family: "plain reg";
        font-weight: 900;
        width: 12%;
    }

    .textanime {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        width: 97%;
        gap: 5vw;
    }

    .textanime>h1::before {
        content: "04";
        position: absolute;
        left: 0%;
        top: -100%;
        font-family: "silk serif";
        font-weight: 100;
        font-size: 4.9vw;
    }

}